@{
    Layout = null;
 }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
       <div class="text-center">
        <h3>We're going to have an exciting party . </h3>
          (to do: sell it better .Add pictures or something.)
          <a class="btn btn-primary" asp-action ="RsvpForm">RSVP NOW</a>
      </div>
</body>
</html>